.SingleDatePicker {
  display: block !important;

  .SingleDatePickerInput {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .DateInput {
      flex: 1;

      .DateInput_input {
        font-size: inherit;
        line-height: inherit;
        padding: 6px 12px;
        border-bottom-width: 1px;
        height: 34px;
        border: none;

        &::placeholder {
          color: #aaa;
        }

        &__focused {
          border: none;
        }
      }
    }
  }

  .SingleDatePicker_picker {
    z-index: 99;
  }

  .calendar-cell {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      color: #565a5c;
      font-size: inherit;
      font-weight: inherit;
    }

    &.highlighted {
      .label {
        color: #fff;
      }
    }
  }
}

.form-group {
  &.has-success {
    .SingleDatePickerInput {
      border-color: #00a65a;
    }
  }
  &.has-error {
    .SingleDatePickerInput {
      border-color: #dd4b39;
    }
  }
}
