.DateRangePicker {
  display: block !important;

  .DateRangePickerInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;

    .DateRangePickerInput_arrow {
      width: 10px;
      svg {
        display: none;
      }
    }

    .DateInput {
      flex: 1;

      .DateInput_input {
        font-size: inherit;
        line-height: inherit;
        padding: 6px 12px;
        border-bottom-width: 1px;
        height: 34px;
        min-width: 120px;
        border: 1px solid #cacccd;

        &::placeholder {
          color: #aaa;
        }

        &__focused {
          border: 1px solid #cacccd;
        }
      }
    }
  }

  .DateRangePicker_picker {
    z-index: 99;
  }

  .calendar-cell {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      color: #565a5c;
      font-size: inherit;
      font-weight: inherit;
    }

    &.highlighted {
      .label {
        color: #fff;
      }
    }
  }
}

.form-group {
  &.has-success {
    .DateRangePickerInput {
      border-color: #00a65a;
    }
  }
  &.has-error {
    .DateRangePickerInput {
      border-color: #dd4b39;
    }
  }
}
