.file-upload {
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  .file-preview-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    .file-preview {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      width: 100px;
      text-align: center;

      .file-icon {
        font-size: 40px;
        margin-bottom: 5px;
      }

      .delete-btn {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        color: #ed1b24;
        font-size: 20px;
        line-height: 20px;
        background: none;
      }
    }
  }
}
