.form-group {
  .quantity-input {
    .form-control {
      text-align: center;
      border-left: none !important;
      border-right: none !important;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .increment-btn,
    .decrement-btn {
      height: 34px;
      width: 34px;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
    }
  }

  &.has-success {
    .increment-btn,
    .decrement-btn {
      border-color: #00a65a;
    }
  }

  &.has-error {
    .increment-btn,
    .decrement-btn {
      border-color: #dd4b39;
    }
  }
}
