.input-range-container {
  padding: 2rem 2.5rem;
  background-color: #f8f9fa;
  border-color: #f8f9fa;

  .input-range {
    .input-range__label {
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }

    .input-range__label--min,
    .input-range__label--max {
      display: none;
    }

    .input-range__track--background {
      position: relative;
      margin: 0;

      .input-range__slider {
        background: #5bbce7;
        border: 1px solid #5bbce7;
      }

      .input-range__label--value {
        top: -2.5rem;
        display: block;
        left: 0;
        transform: translateX(-50%);

        .input-range__label-container {
          position: initial;
          display: block;
          left: initial;
          right: initial;
        }
      }

      .input-range__track--active {
        background: #a9e0f4;
      }
    }
  }
}
