.Select {
  .Select-control {
    height: 32px;
    border-radius: 0;

    .Select-value {
      line-height: 32px;
    }

    .Select-input {
      height: 32px;
    }
  }
}

.form-group {
  &.has-success {
    .Select-control {
      border-color: #00a65a;
    }
  }
  &.has-error {
    .Select-control {
      border-color: #dd4b39;
    }
  }
}
