.order-item-detail-container {
  background: lightgoldenrodyellow;
  padding-left: 35px;

  .heading {
    padding: 8px;
  }

  .table-responsive {
    border-top: 1px solid #f5f5f5;
    background: #fff;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .table {
    margin-bottom: 0;

    thead {
      tr {
        th {
          border-width: 1px;
        }
      }
    }
  }

  .loading-icon {
    margin-top: 20px;
    font-size: 32px;
  }
}
