.inline-form {
  display: flex;
  align-items: flex-end;
  justify-items: flex-start;

  .form-group {
    align-self: flex-start;
    margin-bottom: 0;
    margin-right: 10px;

    .Select {
      min-width: 150px;
    }
  }
}
