@import "~react-input-range/lib/css/index.css";
@import "~react-select/dist/react-select.css";
@import "~react-dates/lib/css/_datepicker.css";
@import "~react-table/react-table.css";
@import "./table.css";
@import "./form.css";

.core-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar-menu {
  .treeview {
    > a.active {
      color: #fff;
      border-left-color: #3c8dbc;
    }
    .treeview-menu {
      li > a.active {
        color: #fff;
      }
    }
  }
}

textarea.form-control {
  resize: vertical;
}

.select-option {
  .select-option-value {
    font-weight: bold;
  }
  .select-option-description {
    font-size: 80%;
  }
}

.login-box {
  .login-box-footer {
    margin-top: 20px;
  }
}

a {
  cursor: pointer;
}
