.ReactTable {
  .rt-thead.-header {
    .rt-tr {
      .rt-th {
        padding: 8px;
        box-shadow: none !important;
        font-weight: bold;

        &.-sort-asc,
        &.-sort-desc {
          &:after {
            position: absolute;
            bottom: 8px;
            right: 8px;
            display: block;
            font-family: "Glyphicons Halflings";
            opacity: 0.5;
          }
        }

        &.-sort-asc {
          &:after {
            content: "\e155";
          }
        }

        &.-sort-desc {
          &:after {
            content: "\e156";
          }
        }
      }
    }
  }

  .rt-tbody {
    .rt-tr {
      .rt-td {
        padding: 8px;
      }
    }
  }

  p {
    margin: 0;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    cursor: pointer;

    .checkbox {
      height: 16px;
      width: 16px;
      margin: 0;
      border: 1px solid #b4bfc9;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.06);
      display: flex;
      justify-content: center;
      align-content: center;
      color: #323232;
    }
  }

  .pagination-bottom {
    padding: 10px;
  }
}

.table {
  tr th {
    text-align: center;
  }
}
